<div class="row">
  <div class="large-12 columns">
    <h2>Edit Release</h2>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    {{input type="text" value=name}}
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    {{textarea value=body style="height:250px"}}
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <button class="button medium" {{action "save"}}>Save</button>
  </div>
</div>
