<div class="row">

  <div class="large-2 columns">
    <ul class="side-nav">
    <li>{{link-to "+ New Release" "releases.new"}}</li>
    {{#each controller}}
      <li>{{link-to tag_name "releases.show" this}}</li>
    {{/each}}
    </ul>
  </div>

  <div class="large-10 columns end">
    {{outlet}}
  </div>

</div>
